.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-btn-logout {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
