.OrderGroup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.OrderGroup-grid > div {
    border: 1px solid #CCC;
    padding: 20px;
}

.OrderGroup-grid > div.active {
    background: lightblue;
}