# dependencies
/node_modules

# testing
/coverage

# production
/build

# PhpStorm files
/.idea

# Database files
/db

# Logs
*.log
**/*.log

# NetBeans Project
/nbproject

# Lock Files
package-lock.json